*{
    margin: 0;
}

#header {
    color: white;
    background-color:#303030;
    display: flex;
    flex-direction: column;
    height: 400px;         
}
#header h1 {
    margin: 150px 0px 0px 50px;        
    font-family: 'Inter';    
    font-size: 50px;          
}

#header p{
   margin: 30px 0px 0px 50px; 
   font-family: 'Inter';
   font-size: 20px;
}

.container1 {
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: 'inter';
    font-size: 30px;

    background-color: #F9F9F9;
    height: 230px;
}

.container1 b{
    font-size: 45px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    font-family: 'inter';

    margin-top: 75px;
    padding-bottom: 70px  
    
} 

.container #info {
    display: grid;
    font-size: 20px;
    
}

#footer {
    background-color: #303030;
    height: 350px;
    padding-bottom: 10%;

    
    display: grid;                
    justify-content: center;

    font-family: 'Inter';

}

#footer h1 {
    margin-top: 100px;
    
    color: white;
}

input {
    
    height: 50px;
    width: 400px;
    margin-left: 90px;
    display: grid;
    margin-top: 50px;
    
    border-radius: 10px;
    border: none;
    
    font-family: 'Inter';
    font-size: 20px;
   
}

#faleConosco {
    border: none; 
    font-family: 'Inter'; 
    font-size: 20px; 
    font-weight: bold; 
    color: white; 
    border-radius: 10px; 
    margin-top: 70px; 
    height: 50px; 
    width: 200px; 
    margin-left: 200px; 
    background-color: #C07212;
}

#faleConosco:hover {
    background-color: #aa5f04;
    cursor: pointer;
}